/* public/css/app.css */

/* 1. Les fondations */
@import 'variables.css';
@import 'reset.css';

/* 2. Typographie */
@import 'typography.css';

/* 3. Structure (Grid & Sidebar) */
@import 'layout.css';

/* 4. Tous les composants (Boutons, Forms, Tables, Cards, Alerts...) */
@import 'components.css';

/* 5. Utilitaires & Mobile */
@import 'utilities.css';
@import 'responsive.css';