/* Reset Basic */
* {
    box-sizing: border-box; 
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    line-height: 1.6;
    background-color: var(--bg-body);
    color: var(--text-main);
    -webkit-font-smoothing: antialiased; 
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

button, input, select, textarea {
    font: inherit;
    background: none;
    border: none;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}