:root {
    
    --space-cadet: #2A2D4F; 
    --delft-blue:  #424665; 
    --paynes-gray: #646884; 
    --cool-gray:   #8D8FA4; 
    --french-gray: #B0B0C1; 

    /* structre */
    --primary: var(--delft-blue);       
    --primary-hover: var(--space-cadet); 
    
  
    --secondary: #93A8AC;
    

   
    --info: #93A8AC;

    --success: #788F76;       
    --warning: #C4A77D;       
    --danger: #7b2b2b;        
    
    /*  Arrière-plans */
    
    --bg-body: var(--paynes-gray);
    
    
    --bg-card: #FFFFFF;
    
    
    --bg-sidebar: var(--space-cadet);
    
    
   
    --text-main:var(--space-cadet); 
    
    
    --text-muted: var(--paynes-gray);
    
    --border-color: #BFB8A6;


    /*  FORMES  */
    --radius: 8px; 
    
    /* Ombre teintée bleu gris */
    --shadow-sm: 0 4px 6px -1px rgba(42, 45, 79, 0.1), 0 2px 4px -1px rgba(42, 45, 79, 0.06);
    
    /*  ESPACEMENTS */
    --space-xs: 0.5rem;
    --space-sm: 1rem;
    --space-md: 1.5rem;
    --space-lg: 2rem;
}